body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
}

.container {
    width: 796px;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    display: flex;
    justify-content: center;
}

.news {
    text-align: center;
    color: white;
}

a:link {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.footer {
    text-align: center;
}
