body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
}

.container {
    width: 390px;
}

.greetings {
    text-align: center;
    color: white;
    font-size: 14px;
}

.todo {
    text-align: center;
    color: white;
    font-size: 14px;
}