body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

.container {
    width: 390px;
}

.greetings {
    text-align: center;
    color: white;
    font-size: 14px;
}

.todo {
    text-align: center;
    color: white;
    font-size: 14px;
}