body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

a:link {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.container {
    width: 260px;
}

.news {
    text-align: center;
    color: white;
    font-size: 14px;
}
