body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: #A8A8A8;
}

a:link {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.container {
    width: 934px;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.blogizna {
    text-align: center;
}

.border {
    text-align: center;
}

.footer {
    text-align: center;
}