body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

a:link {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.container {
    width: 712px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.holder {
    position: relative;
    top: 0;
    left: 0;

}

.holderbutton {
    position: relative;
    top: 0;
    left: 0;

}

.holdertape {
    position: relative;
    top: 0;
    left: 0;

}

.entry {
    padding-bottom: 4px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.imgholder {
    position: relative;
    top: 0px;
    left: 0px;
}

.hostage {
    position: absolute;
    top: 0px;
    left: 0px;
}

.playbutton {
    position: absolute;
    top: -101px;
    left: 440px;
}

.pause {
    display: none;
}

.tapeholder {
    position: relative;
    top: -133px;
    left: 520px;
}

.tape {
    position: absolute;
    top: -133px;
    left: 520px;
}

.content {
    position: absolute;
    top: 256px;
    text-align: left;
    font-size: 14px;
}
