body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: black;
}

.container {
    width: 75%;
}

.headerContainer {
    display: flex;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle img {
    cursor: pointer;
}

.blog {
    display: flex;
    justify-content: center;
}

.blog img {
    cursor: pointer;
}

.news {
    height: 40%;
    width: 100%;
    padding-left: 9px;
    overflow-y: auto;
    border: 1px solid white;
    color: white;
}